@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

section[id] {
  scroll-margin-top: 80px;
}

section[id="inicio"] {
  scroll-margin-top: 0;
}

section[id="proyectos"] {
  scroll-margin-top:20px;
}

section[id="habilidades"] {
  scroll-margin-top:20px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("https://res.cloudinary.com/ddxlvh0go/image/upload/v1759198473/IMG_4196_fukxz0.jpg");
  background-size: cover;
  background-position: center top -20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
